{% extends 'my_base.html'%}

{% block content%}
   {{ super() }}
<div class="container">
    <div class="btn-group" role="group">
        <a href="{{ url_for('pm', id=asset.id) }}" class="btn btn-warning">PM</a>
        <a href="{{ url_for('failure_report', id=asset.id) }}" class="btn btn-danger">Failure</a>
        {% if asset.category.calibration_required %}
        <a href="{{ url_for('calibrate', id=asset.id) }}" class="btn btn-info">Calibration</a>
        {% endif %}
    </div>
</div>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">Info</div>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Serial Number</th>
                            <th>Description</th>
                            <th>Next PM</th>
                            {% if asset.category.calibration_required %}
                            <th>Next Calibration</th>
                            {% endif %}
                            <th>Notes</th>
                         </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ asset.serial_number }}</td>
                            <td>{{ asset.description }}</td>
                            <td>{{ asset.next_pm.strftime('%Y-%m-%d') }}</td>
                            {% if asset.category.calibration_required %}
                            <td>{{ asset.next_cal.strftime('%Y-%m-%d') }}</td>
                            {% endif %}
                            <td>{{ asset.notes }}</td>
                        </tr>

                    </tbody>
                </table>

        </div>
    </div>

    <div class="container">
        {%  if failures %}
            <div class="panel panel-danger">
            <div class="panel-heading">Open Failures</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Reported By</th>
                            <th>Closed</th>
                        </tr>
                    </thead>
                    <tbody>{%  for failure in failures %}
                        <tr>
                            <td><a href="{{ url_for('failure', id=failure.id) }}">{{ failure.date.strftime('%Y-%m-%d %H:%M') }}</a></td>
                            <td>{{ failure.description }}</td>
                            <td>{{ failure.reported_by }}</td>
                            <td>
                                {{ failure.completed }}
                            </td>
                        </tr>

                      {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

    </div>

    <div class="container">
        {%  if repairs %}
            <div class="panel panel-success">
            <div class="panel-heading">Repairs</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Repaired By</th>
                            <th>Closed</th>
                        </tr>
                    </thead>
                    <tbody>{%  for repair in repairs %}
                        <tr>
                            <td><a href="{{ url_for('repair', id=repair.id) }}">{{ repair.date.strftime('%Y-%m-%d %H:%M')  }}</a></td>
                            <td>{{ repair.description }}</td>
                            <td>{{ repair.repaired_by }}</td>
                            <td>
                                {{ repair.completed }}
                            </td>
                        </tr>

                      {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

    </div>

    <div class="container">
        {%  if pms %}
            <div class="panel panel-warning">
            <div class="panel-heading">PM's</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Notes</th>
                            <th>Performed By</th>
                        </tr>
                    </thead>
                    <tbody>{%  for pm in pms %}
                        <tr>
                            <td>{{ pm.date.strftime('%Y-%m-%d %H:%M')  }}</td>
                            <td>{{ pm.description }}</td>
                            <td>{{ pm.notes }}</td>
                            <td>{{ pm.performed_by }}</td>
                            <td>
                            </td>
                        </tr>

                      {% endfor %}
                    </tbody>
                </table>
            </div>
    {% endif %}
    </div>

          <div class="container">
        {%  if cals %}
            <div class="panel panel-info">
            <div class="panel-heading">Calibration's</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Values</th>
                            <th>Performed By</th>
                        </tr>
                    </thead>
                    <tbody>{%  for cal in cals %}
                        <tr>
                            <td>{{ cal.date.strftime('%Y-%m-%d %H:%M')  }}</td>
                            <td>{{ cal.description }}</td>
                            <td>{{ cal.values }}</td>
                            <td>{{ cal.performed_by }}</td>
                            <td>
                            </td>
                        </tr>

                      {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
          </div>
{% endblock %}