{% extends 'my_base.html' %}


{% block content %}
  {{ super() }}

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">Upcoming Calibration's</div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Serial Number</th>
                    <th>Description</th>
                    <th>Calibration Due</th>
                </tr>
                </thead>
                <tbody>
                {% for calibration in calibrations %}
                {% if calibration.category.calibration_required %}
                <tr>
                    <td><a href="{{ url_for('calibrate', id=calibration.id) }}">{{ calibration.serial_number }}</a></td>
                    <td>{{ calibration.description }}</td>
                    <td>{{ calibration.next_cal.strftime('%Y-%m-%d') }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>


<div class="container">
       <div class="panel panel-warning">
           <div class="panel-heading">Upcoming PM's</div>
            <div class="panel-body">
           <table class="table">
               <thead>
               <tr>
                   <th>Serial Number</th>
                   <th>Description</th>
                   <th>PM Due</th>
               </tr>
               </thead>
               <tbody>
               {% for asset in assets %}
                <tr>
                    <td><a href="{{ url_for('pm', id=asset.id) }}">{{ asset.serial_number }}</a></td>
                    <td>{{ asset.description }}</td>
                    <td>{{ asset.next_pm.strftime('%Y-%m-%d') }}</td>
                </tr>
                {% endfor %}
               </tbody>
           </table>
            </div>
       </div>

    </div>
    <div class="container">
        <div class="panel panel-danger">
            <div class="panel-heading">Open Failures</div>
            <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Serial Number</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Reported By</th>
                </tr>
                </thead>
                <tbody>
                    {% for failure in failures %}
                    <tr>
                        <td><a href="{{ url_for('failure', id=failure.id) }}">{{ failure. asset.serial_number}}</a></td>
                        <td>{{ failure.description }}</td>
                        <td>{{ failure.date.strftime('%Y-%m-%d %H:%M') }}</td>
                        <td>{{ failure.reported_by }}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>

    </div>
{% endblock %}



