{% extends 'my_base.html' %}

{% block content%}
{{ super() }}
    <div class="container">
    <div class="panel panel-warning">
        <div class="panel-heading">Info</div>
        <div class="panel-body">
            <p>{{ asset.category.pm_procedure }}</p>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Serial Number</th>
                <th>Description</th>
                <th>PM Due</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ asset.serial_number }}</td>
                <td>{{ asset.description }}</td>
                <td>{{ asset.next_pm.strftime('%Y-%m-%d') }}</td>
            </tr>

            </tbody>

        </table>

    </div>

    </div>
      <form method="post">
        {{ form.csrf_token }}
        <div class="container">
            <div class="form-group">{{ form.description.label }}</div>
            <div class="form-group">{{ form.description(class_='form-group form-control') }}</div>
            <div class="form-group">{{ form.notes.label }}</div>
            <div class="form-group">{{ form.notes(class_='form-group form-control', rows='10') }}</div>
            <div class="form-group">{{ form.submit(class_='btn btn-primary') }}</div>
    </div>



      </form>


{% endblock %}